<h2 class="data-table-title pt-5 pb-2 border-bottom font-weight-normal">Tables </h2>

<section class="container-data-table border rounded mt-3 small">
        <span class="data-table-title bg-light d-block p-2 border border-white">DataTables Advanced Tables</span>
    <section class="data-table-grid p-3 border-top">
        <section class="data-table-head row">
            <div class="data-table-entries col col-lg-9">
                <span>Show</span>    
                <select class="data-table-entries-select ml-1 mr-1 bg-white">
                    <option>10</option>
                    <option>9</option>
                    <option>8</option>
                    <option>7</option>
                    <option>6</option>
                    <option>5</option>
                </select>
                <span>entries</span>    

            </div>
            <fieldset class="data-grid-search col text-right">
                <label for="data-grid-search-title" class="mr-2">Search:</label>
                <input id="data-grid-search-input" type="text">
             </fieldset>
        </section>
        <table class="data-table-list table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Rendering engine<i class="fas fa-caret-up float-right text-muted"></i>
                    </th>
                    <th scope="col">Browser<i class="fas fa-sort float-right text-muted"></i></th>
                    <th scope="col">Platform(s)<i class="fas fa-sort float-right text-muted"></i></th>
                    <th scope="col">Engine version<i class="fas fa-sort float-right text-muted"></i></th>
                    <th scope="col">CSS grade<i class="fas fa-sort float-right text-muted"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                </tr>
            </tbody>
        </table>
        <section class="data-table-foot">
            <div class="row">
                <div class="col">
                    <span class="data-table-foot-info-entries">Showing 1 to 10 of 57 entries</span>
                </div>
                <div class="col">
                    <ul class="data-table-foot-pag pagination float-right">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item activefe"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
            <app-data-table-info></app-data-table-info>

        </section>

    </section>
</section>

