<section class="data-table-info bg-light border p-3 rounded">
    <h6 class="data-table-title font-weight-light">DataTables Usage Information</h6>
    <p class="data-table-text">  
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus laoreet nibh. 
            In auctor tristique malesuada. Etiam mollis orci libero, quis volutpat lorem rutrum 
            id. Etiam in mollis ante, non commodo nisl. Proin luctus pulvinar ligula, 
            <a href="https://datatables.net/" target="_blank">quis tempus nibh tincidunt at.</a> 
    </p>
    <a class="btn btn-secondary btn-block bg-white border text-muted" href="https://datatables.net/manual/" target="_blank"
    >View DataTables Documentation</a>
</section>